<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  < fxFlex *ngFor="let item of places">
  
<h4 class="mb-4">DEFINITION OF TERMS</h4> 
<ol>
   <li>
      <h5>Portal Users</h5>
      <p>System user that will be interacting with the web portal</p>
   </li>
   <li>
      <h5>Customer/Loan User</h5>
      <p>System users that will be interacting with the system through the app, 
         they are also known as Loan borrowers.
      </p>
   </li>
   <li>
      <h5>OTP (One Time Pin)</h5>
      <p>A six figured randomly generated pin sent to the user’s phone number or email.
      </p>
   </li>
   <li>
      <h5 class="mb-4">Initiator</h5>
      <p>This is the party who actions the first part of approval of members or payments.
      </p>
   </li>
   <li>
   <p>This is the party who actions the first part of approval of members or payments.</p>
   </li>
   <li>
      <h5 class="mb-4">Approver</h5>
      <p>This is the party who completes the final part of approval of members or payments.
      </p>
   </li>
</ol>

<h4 class="mb-4">KEY FEATURES</h4> 

<h4 class="mb-4">A. OTP(One Time Pin)</h4>
<p>
   A security Feature where for you to login, you must enter the six 
   pin sent to your registered phone number via sms.
   In the case of deletion of pin by mistake, technical problem with the provider or phone is off due to power, you can always click the resend
   button and it will send the OTP to the registered email.
</p>

<mat-card>
<div>
<img src="/assets/images/dash.PNG" alt="image">
</div>

<h4 class="mb-4">Login Page</h4> 
</mat-card>
<h4 class="mb-4">B. Maker-Checker</h4>
<p>
   A security feature that denies a single person a single person the right of making the full decision on; Customer's Approvals, Appraisals and Reconciliation.
   The Maker Checker feature requires two portal users for the approval, appraisal and reconciliation to be completed.
   There is the Initiator and Approver.
</p>
<h4 class="mb-4">C. Portal User Right Assignment</h4>
<p>
The Dashboard is divided into modules; and each module sub-divided into sub-modules.
Every portal user can be restricted on what module to interact with.
When creating a pportal user, it is important to know the level of access to grant the user.
The available modules includes: Admin, Business register, Manage payments, view accounts, manage approvals and User management
(This determines how secure a system can be).
</p>

<h4 class="mb-4">D. Manual Automatic Disbursement</h4>
<p>
The system provides for both manual and automatic disbursement. For auto-disbursement, members/loan users will receive their disbursement automatically within the assigned loan limit 
(usually advised to be assigned to members who are performing very well).
For Manual disbursement, every time a member applies, the loan has to be approved by the portal user. At the moment the all loans are manual
</p>

<h4 class="mb-4">E. Manual Reconciliation</h4>
<p>
The system consumes some of third party services like Safaricom-Mpesa, in rare instances where there is a downtime, there may be need for a manual reconciliation by comparing the transactions from the bulk and correcting 
it manually through the portal.
</p>

<h4>F. Search Feature </h4>
<p>
This feature allows searching for members, loan transactions, and reports using their phone number, loan ref or date.<br><br>
</p>
<h4>G. USER RIGHTS</h4>
<p>
Every portal user has to be assigned system rights, the user rights are assigned based on the level of the user. 
The rights assigned will grant/ restrict the user on the modules to access.<br>
It is very important to note that some rights like User management, approvals are very sensitive and should only be granted to 
users who will be accountable when using the system.
</p>

<div [style.color]="'blue'">
H.	Setting members to Auto and Manual disbursement <br>
</div>
The system allows setting loan users to either Manual disbursement or automatic, all manual loan users, their loan will always require approval before disbursement. <br>
Therefore, setting member to auto or Manual is done during membership approval (Client Inquiries> pending loan users), assign the user the loan limit and check the check box under Auto disbursement.<br>
Note: By Default all loan users are set to automatic unless changed<br><br>


   <div [style.color]="'orange'">
    <h4>Dashboard Overview:</h4>
     </div>
     <mat-card>
       <div>
<img src="/assets/images/mt1.PNG" alt="image">
</div>
</mat-card>
<br>
      <h3><p>Logged in personal details - Username and other details </p></h3>
      1.	Dashboard statistic – Repayment, disbursement,portal users, bulk balance among others.<br><br>
      2.	Portal Modules – All the functionalities of the system has been classified into the above shown modules

  </div>
</div>