<div class="row" id="proBanner">
  <div class="col-12">
    <span class="align-items-center purchase-popup">
      <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
      <a href="https://www.bootstrapdash.com/product/purple-angular/?utm_source=organic&utm_medium=banner&utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button btn-purple ml-auto btn-primary">Upgrade To Pro</a>
      <i class="mdi mdi-close"  (click)="toggleProBanner($event)"  id="bannerClose"></i>
    </span>
  </div>
</div>
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>                 
    </span>
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview
        <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul> 
  </nav>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Weekly Sales
          <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">$ 15,0000</h2>
        <h6 class="card-text">Increased by 60%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
        <h4 class="font-weight-normal mb-3">Weekly Orders
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">45,6334</h2>
        <h6 class="card-text">Decreased by 10%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Visitors Online
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">95,5741</h2>
        <h6 class="card-text">Increased by 5%</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between">
          <h4 class="card-title">Visit And Sales Statistics</h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal">
            <ul>
              <li>
                <span class="legend-dots"></span>CHN
              </li>
              <li>
                <span class="legend-dots"></span>USA
              </li>
              <li class="mr-0">
                <span class="legend-dots"></span>UK
              </li>
            </ul>
          </div>
        </div>
        <canvas baseChart #visitSaleChart [chartType]="'bar'" [datasets]="visitSaleChartData" [labels]="visitSaleChartLabels" [options]="visitSaleChartOptions" [colors]="visitSaleChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Traffic Sources</h4>
        <canvas baseChart [chartType]="'doughnut'" [datasets]="trafficChartData" [labels]="trafficChartLabels" [options]="trafficChartOptions" [colors]="trafficChartColors"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
          <ul>
            <li>
              <span class="legend-dots"></span>Search Engines
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Direct Click
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Bookmarks Click
              <span class="float-right">40%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Tickets</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Assignee
                </th>
                <th>
                  Subject
                </th>
                <th>
                  Status
                </th>
                <th>
                  Last Update
                </th>
                <th>
                  Tracking ID
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                  David Grey
                </td>
                <td>
                  Fund is not recieved
                </td>
                <td>
                  <label class="badge badge-gradient-success">DONE</label>
                </td>
                <td>
                  Dec 5, 2017
                </td>
                <td>
                  WD-12345
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image">
                  Stella Johnson
                </td>
                <td>
                  High loading time
                </td>
                <td>
                  <label class="badge badge-gradient-warning">PROGRESS</label>
                </td>
                <td>
                  Dec 12, 2017
                </td>
                <td>
                  WD-12346
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
                  Marina Michel
                </td>
                <td>
                  Website down for one week
                </td>
                <td>
                  <label class="badge badge-gradient-info">ON HOLD</label>
                </td>
                <td>
                  Dec 16, 2017
                </td>
                <td>
                  WD-12347
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">
                  John Doe
                </td>
                <td>
                  Loosing control on server
                </td>
                <td>
                  <label class="badge badge-gradient-danger">REJECTED</label>
                </td>
                <td>
                  Dec 3, 2017
                </td>
                <td>
                  WD-12348
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
