<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex *ngFor="let item of places">
  
<h4 class="mb-4">DEFINITION OF TERMS</h4> 
<ol>
   <li>
      <h5>Portal Users</h5>
      <p>System user that will be interacting with the web portal</p>
   </li>
   <li>
      <h5>Customer/Loan User</h5>
      <p>System users that will be interacting with the system through the app, 
         they are also known as Loan borrowers.
      </p>
   </li>
   <li>
      <h5>OTP (One Time Pin)</h5>
      <p>A six figured randomly generated pin sent to the user’s phone number or email.
      </p>
   </li>
   <li>
      <h5>Initiator</h5>
      <p>This is the party who actions the first part of approval of members or payments.
      </p>
   </li>
   <li>
   <p>This is the party who actions the first part of approval of members or payments.</p>
   </li>
   <li>
      <h5>Approver</h5>
      <p>This is the party who completes the final part of approval of members or payments.
      </p>
   </li>
</ol>

<h4 class="mb-4">KEY FEATURES</h4> 

<h4>A. OTP(One Time Pin)</h4>
<p>

</p>



<mat-card>
<div>
<img src="/assets/images/dash.PNG" alt="image">
</div>
<div [style.color]="'orange'"><br>
<h4>Login Page</h4> 
</div>
</mat-card><br>

<div [style.color]="'blue'">
B. Maker-Checker<br>
</div>
   A security feature that denies a single person a single person the right of making the full decision on; Customer's Approvals, Appraisals and Reconciliation.<br>
The Maker Checker feature requires two portal users for the approval, appraisal and reconciliation to be completed.<br>
There is the Initiator and Approver.<br><br>

<div [style.color]="'blue'">
C. Portal User Right Assignment<br>
</div>
The Dashboard is divided into modules; and each module sub-divided into sub-modules.<br>
Every portal user can be restricted on what module to interact with.<br>
When creating a pportal user, it is important to know the level of access to grant the user.<br>
The available modules includes: Admin, Business register, Manage payments, view accounts, manage approvals and User management
(This determines how secure a system can be).<br><br>

<div [style.color]="'blue'">
D.	Manual Automatic Disbursement<br>
</div>
The system provides for both manual and automatic disbursement. For auto-disbursement, members/loan users will receive their disbursement automatically within the assigned loan limit 
(usually advised to be assigned to members who are performing very well).<br>
For Manual disbursement, every time a member applies, the loan has to be approved by the portal user. At the moment the all loans are manual<br><br>

<div [style.color]="'blue'">
E.	Manual Reconciliation<br>
</div>
The system consumes some of third party services like Safaricom-Mpesa, in rare instances where there is a downtime, there may be need for a manual reconciliation by comparing the transactions from the bulk and correcting 
it manually through the portal.<br><br>

<div [style.color]="'blue'">
F.	Search Feature <br>
</div>
This feature allows searching for members, loan transactions, and reports using their phone number, loan ref or date.<br><br>

<div [style.color]="'blue'">
G.	USER RIGHTS <br>
</div>
Every portal user has to be assigned system rights, the user rights are assigned based on the level of the user. 
The rights assigned will grant/ restrict the user on the modules to access.<br>
It is very important to note that some rights like User management, approvals are very sensitive and should only be granted to 
users who will be accountable when using the system.<br><br>

<div [style.color]="'blue'">
H.	Setting members to Auto and Manual disbursement <br>
</div>
The system allows setting loan users to either Manual disbursement or automatic, all manual loan users, their loan will always require approval before disbursement. <br>
Therefore, setting member to auto or Manual is done during membership approval (Client Inquiries> pending loan users), assign the user the loan limit and check the check box under Auto disbursement.<br>
Note: By Default all loan users are set to automatic unless changed<br><br>


   <div [style.color]="'orange'">
    <h4>Dashboard Overview:</h4>
     </div>
     <mat-card>
       <div>
<img src="/assets/images/mt1.PNG" alt="image">
</div>
</mat-card>
<br>
      <h3><p>Logged in personal details - Username and other details </p></h3>
      1.	Dashboard statistic – Repayment, disbursement,portal users, bulk balance among others.<br><br>
      2.	Portal Modules – All the functionalities of the system has been classified into the above shown modules

  </div>
</div>