.mb-20 {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mat-card{

    border: 3px solid #f08b06 !important;
    border-radius: 30px !important;
    text-align: center;
   }
   .img{
    width: 30px; // any width
    height: 230px; // any height
   }
   .outline {
    border-style: solid;
    border-width:  medium;
    border-color: #f51111;
}
h4{
    color
}